<div class="row">
	<div class="col s12">
		<h1><%= title %></h1>

		<img class="responsive-img" src="{{APP_IMAGE_PATH}}<%= image %>" alt="">
		<p class="pic-note">Un pie de foto</p>

		<blockquote>
			<%= summary %>
		</blockquote>

		<p><%= body %></p>
		<p><%= body %></p>

		<ul class="collection one-line">
			<li class="collection-item avatar">
				<i class="tiny material-icons circle">person</i>
				<span class="title">Salvi Pascual</span>
				<p class="blue-grey-text">Author</p>
			</li>
			<li class="collection-item avatar">
				<i class="far fa-newspaper circle"></i>
				<span class="title">Ene 1, 2020 4:20 PM</span>
				<p class="blue-grey-text">Fecha de publicación</p>
			</li>
			<li class="collection-item avatar">
				<i class="far fa-newspaper circle"></i>
				<span class="title">Diario de Cuba</span>
				<p class="blue-grey-text">Medio de prensa</p>
				<a href="#!" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>
			<li class="collection-item avatar">
				<i class="fas fa-tag circle"></i>
				<span class="title">Política</span>
				<p class="blue-grey-text">Categoría</p>
				<a href="#!" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>
		</ul>
	</div>

	<% related.forEach(function(item) { %>
		<div class="col s4">
			<div class="card user-card">
				<div class="content">
					<p class="related-title"><%= item.title %></p>
					<span class="chip tiny"><%= item.tag %></span>
				</div>
			</div>
		</div>
	<% }); %>

 	<div class="col s12">
		<ul class="chat">
			<% comments.forEach(function(item) { %>
				<li class="<%= item.position %>">
					<div class="person-avatar circle" face="<%= item.avatar %>" color="<%= item.color %>" size="30"></div>
					<div class="head">
						<a href="#!" class="<%= item.gender %>">@<%= item.username %></a>
						<span class="date"><%= moment(item.date).format('MMM D, YYYY h:mm A') %></span>
					</div>
					<span class="text"><%= item.text %></span>
					<div class="actions">
						<span class="chip clear"><i class="fas fa-thumbs-up"></i> 23</span>
						<span class="chip clear"><i class="fas fa-thumbs-down"></i> 12</span>
						<span class="chip clear"><i class="fas fa-reply"></i></span>
					</div>
				</li>
			<% }) %>
		</ul>
	</div>
</div>

<div class="bottom-space"></div>

<!-- BUTTONS -->
<div id="btn" class="fixed-action-btn">
	<a class="btn-floating waves-effect waves-light grey third modal-trigger" href="#shareModal">
		<i class="material-icons">share</i>
	</a>
	<a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
	<a class="btn-floating btn-large waves-effect waves-light modal-trigger green" href="#newModal">
		<i class="material-icons">comment</i>
	</a>
</div>

<!-- SHARE MODAL -->
<div id="shareModal" class="modal">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba un texto para compartir</label>
		</div>
		<ul class="collection one-line preview">
			<li class="collection-item avatar">
				<i class="fas fa-newspaper material-icons circle"></i>
				<span class="title">Raúl se despierta con dolor de cabeza, doctor ...</span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="apretaste.send({command:'BAREBONE MESSAGE'})" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
	</div>
</div>

<!-- MODAL NEW COMMENT -->
<div id="newModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba su mensaje</label>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="apretaste.send({command:'BAREBONE MESSAGE'})" class="modal-close waves-effect green-text btn-flat">Enviar</a>
	</div>
</div>
