<div class="row">
	<div class="col s12">
		<ul class="collection profile">
			<li class="collection-item avatar">
				<div class="person-avatar circle" face="apretina" color="rojo" size="45" online="1"></div>
				<span class="title M">@maria</span>
				<p>Maria Elvira</p>
				<a href="#!" class="secondary-content green-text first"><i class="material-icons">person_add</i></a>
			</li>
		</ul>

		<ul class="chat">
			<% items.forEach(function(item) { %>
				<li class="<%= item.position %>">
					<div class="person-avatar circle" face="<%= item.avatar %>" color="<%= item.color %>" size="30"></div>
					<div class="head">
						<a href="#!" class="<%= item.gender %>">@<%= item.username %></a>
						<span class="date"><%= moment(item.date).format('MMM D, YYYY h:mm A') %></span>
					</div>
					<span class="text"><%= item.text %></span>
				</li>
			<% }) %>
		</ul>
	</div>
</div>

<!-- MODAL NEW ITEM -->
<div id="newModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba su mensaje</label>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="apretaste.send({command:'BAREBONE MESSAGE'})" class="modal-close waves-effect waves-green btn-flat">Enviar</a>
	</div>
</div>

<div class="bottom-space"></div>

<!-- FLOATING BUTTON -->
<div class="fixed-action-btn">
	<a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
	<a href="#newModal" class="btn-floating btn-large waves-effect waves-light modal-trigger green">
		<i class="large material-icons">add</i>
	</a>
</div>