<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Resultados</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'BAREBONE NEWS'})">Noticias</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'BAREBONE TAGS'})">Tags</a></li>
		</ul>
	</div>
</div>

<div class="input-field outline search-field">
	<i class="material-icons">send</i>
	<input id="search" type="text" class="search-input"/>
	<label for="search">Buscar</label>
</div>

<div class="row">
	<div class="col s12">
		<% items.forEach(function(item) { %>
			<div class="card">
				<div class="card-person grey lighten-5">
					<div class="person-avatar circle left" face="hombre" color="rojo" size="30" online="1"></div>
					<a href="#!" class="F" onclick="apretaste.send({command:'BAREBONE PROFILE'})">@salvipascual</a>
					<span class="chip tiny clear right"><i class="material-icons icon">perm_contact_calendar</i> 23 de Noviembre, 1985</span>
				</div>
				<div class="card-content">
					<span class="card-title"><%= item.title %></span>
					<p>Vence el <%= moment(item.deadline).format('D [de] MMMM') %></p>
					<p class="blue-grey-text">Un subtitulo que por ahora esta hardcoded</p>

					<% if(item.preview) { %>
						<ul class="collection one-line preview" onclick="apretaste.send({command:'BAREBONE ARTICLE'})">
							<li class="collection-item avatar">
								<i class="fas fa-<%= item.preview.icon %> material-icons circle"></i>
								<span class="title"><%= item.preview.text %></span>
							</li>
						</ul>
					<% } %>
				</div>
				<div class="card-action grey lighten-4">
					<a class="green-text" href="#!" onclick="apretaste.send({command:'BAREBONE ARTICLE'})">Ver mas</a>
					<a class="green-text" href="#!" onclick="apretaste.send({command:'BAREBONE PROFILE'})">Usuario</a>
					<a class="red-text modal-trigger" href="#deleteModal">Borrar</a>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<!-- PAGINATION -->
<% if(pages > 1) { %>
	<div class="row">
		<div class="col s12 center-align">
			<ul class="pagination">
				<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
				<li class="waves-effect"><%= page %> / <%= pages %></li>
				<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
			</ul>
		</div>
	</div>
<% } %>

<div class="bottom-space"></div>

<!-- FLOATING BUTTON -->
<div class="fixed-action-btn">
	<a href="#newModal" class="btn-floating btn-large waves-effect waves-light modal-trigger">
		<i class="large material-icons">add</i>
	</a>
</div>

<!-- MODAL NEW ITEM -->
<div id="newModal" class="modal bottom-sheet fullscreen">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea" oninput="remainder()"></textarea>
			<label for="message">Escriba su mensaje (<span id="remainder">0</span>/200)</label>
		</div>
		<div class="input-tags">
			<p class="blue-grey-text">Escoja sus temas</p>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> apretaste</span>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> covadonga</span>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> xxx</span>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> apretin</span>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> OpinoAP</span>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> amistad</span>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> citas</span>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> pareajas</span>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> arte</span>
			<span class="chip tiny"><i class="fas fa-hashtag"></i> joyeria</span>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="waves-effect waves-light btn-flat left"><i class="fas fa-image"></i></a>
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="apretaste.send({command:'BAREBONE MESSAGE'})" class="modal-close waves-effect green-text btn-flat">Enviar</a>
	</div>
</div>

<!-- MODAL DELETE ITEM -->
<div id="deleteModal" class="modal">
	<div class="modal-content">
		<p>¿Está seguro de eliminar este artículo?</p>
	</div>
	<div class="modal-footer">
		<a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
		<a class="modal-close waves-effect waves-red red-text btn-flat" onclick="apretaste.send({command:'BAREBONE MESSAGE'})">Eliminar</a>
	</div>
</div>
